
@{
    ViewBag.Title = "ShoppingSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h2>MUA HÀNG THÀNH CÔNG</h2>
    <h4>Sản Phẩm Sẽ Giao Tới Bạn Trong Vài Ngày Tới. Xin Cám Ơn!!!</h4>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Tiếp Tục Mua Hàng</a>
</body>


